body{
	background-image: url(assets/backgrounds/blue-stripes.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}
main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#social{
	font-family: 'Roboto', sans-serif;
	background-color: rgba(255, 255, 255, 0.0);
	left: 20px;
	top: 20px;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*z-index: 5;*/
}
#contact{
	color: rgba(200, 200, 200, 1.0);
	font-size: 10px;
	margin: 2px;
}
#connect{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#socialMediaLogos{
	opacity: 0;
	margin: 5px;
	border: 2px solid rgba(84, 0, 122, 1);
	border-radius: 10px;
	width: 80px;
	height: 350px;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
#generalIcon{
	border: 2px solid rgba(84, 0, 122, 1);;
	border-radius: 100px;
	width: 116px;
	margin: 5px;
}
#arrowDown{
	width: 50px;
	right: 70px;
}
#arrowRight{
	width: 50px;
}
.smallSocial{
	width: 0px;
}
#home-button-section{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#home-button{
	box-sizing: border-box;
	padding: 10px;
	border-radius: 50px;
	margin: 0px;
}
#home{
	color: rgba(200, 200, 200, 1.0);
	font-size: 10px;
	margin: 2px;
}

#map{
	padding: 0px;
	box-sizing: border-box;
	border: 2px solid rgba(84, 0, 122, 1);
	min-width: 500px;
	max-width: 1000px;
	min-height: 225px;
	max-height: 450px;
	margin: 160px 10px 10px 10px;
}
#five-guys-map{

	width: 1000px;
	height: 450px;
}


#five-guys-exp{
	margin: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border-radius: 2px;
	min-width: 500px;
	padding: 15px;
	max-width: 1000px;
	background-color: rgba(47, 73, 147, 0.5);
	color: rgba(255, 255, 255, 1);
	border: 2px solid rgba(84, 0, 122, 1);
	box-sizing: border-box;
}

.fg-description{
	color: rgba(5, 171, 101, 1);
}
#fg{
	color: rgba(255, 25, 25, 1);
}




















/*colors:*/
/*rgba(84, 0, 122, 1)*/    /*======== Purple*/
/*rgba(175, 25, 25, 1)*/   /*======== Red*/
/*rgba(43, 111, 232, 1)*/  /*======== Blue*/
/*rgba(5, 171, 101, 1)*/   /*======== Green*/
/*rgba(215, 240, 255, 1)*/ /*======== Light Blue*/
/*rgba(47, 73, 147, 1)*/   /*======== Dark Blue*/
/*rgba(255, 225, 225, 1)*/ /*======== Pink*/
