body{
	background-image: url(assets/backgrounds/blue-stripes.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#five-guys-website{
	margin: 10px;
	width: 1000px;
	height: 600px;
}
#five-guys-map{
	margin: 10px;
	width: 1000px;
	height: 600px;
}
